<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="appName" value="xwy/xwy-boot" />
	<!-- 控制台输出 -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"
			charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%t] %replace(%caller{1}){'\t|Caller.{1}0|\r\n| at ', ''} - %m%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file-info"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/${appName}-info.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/${appName}-info-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>5MB</maxFileSize>
		</rollingPolicy>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"
			charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%t] %replace(%caller{1}){'\t|Caller.{1}0|\r\n| at ', ''} - %m%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file-warn"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/${appName}-warn.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>warn</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/${appName}-warn-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>5MB</maxFileSize>
		</rollingPolicy>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"
			charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%t] %replace(%caller{1}){'\t|Caller.{1}0|\r\n| at ', ''} - %m%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file-error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/${appName}-error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>error</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/${appName}-error-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>5MB</maxFileSize>
		</rollingPolicy>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"
			charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%t] %replace(%caller{1}){'\t|Caller.{1}0|\r\n| at ', ''} - %m%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.xwy" level="debug" />
	<logger name="springfox.documentation" level="warn" />
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file-info" />
		<appender-ref ref="file-warn" />
		<appender-ref ref="file-error" />
	</root>
</configuration>